{{ title }}
<app-hello></app-hello>

<p>
  {{ user.name}}: {{ user.age}}
</p>

<input #nameInput type="text" [ngModel]="title" (ngModelChange)="title = $event"/>

<button (click)="showLast = !showLast">Toggle show last</button>

<app-toggle [(checked)]="isChecked"></app-toggle>
<app-toggle [(checked)]="isChecked"></app-toggle>
<app-toggle [(checked)]="isChecked"></app-toggle>
<ng-container *ngIf="showLast">
  <app-toggle [(checked)]="isChecked"></app-toggle>

</ng-container>
<button #toggleButton>Toggle me</button>
